<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Webapps</title>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!-- custom animation css-->
    <link href="/stylesheets/item.css" rel="stylesheet">
    <link href='/stylesheets/slider.css' rel='stylesheet' type='text/css'>

    <!--  Scripts-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/javascripts/materialize.js"></script>
    <script src="/javascripts/init.js"></script>
    <script src="javascripts/angularApp.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.min.js"></script>




  </head>
  <body ng-app="flapperNews" >
    <!-- make the navbar come down-->
    <div class="row navbar-fixed">
      <nav class="col s12 m12 l12" ng-controller="NavCtrl">
        <ul class="right">
          <li class="valign-wrapper" ng-show="isLoggedIn()">
              <i class="valign small material-icons">verified_user</i><a>{{ currentUser() }}</a></li>
          <li class="valign-wrapper" ng-show="isLoggedIn()">
              <i class="valign small material-icons">home</i><a href="/#/home">Home</a></li>
          <li class="valign-wrapper"> 
            <i class="valign small material-icons">collections</i><a href="/#/images">Images</a></li>
          <li class="valign-wrapper" ng-show="isLoggedIn()">
              <i class="valign small material-icons">settings_power</i><a href="" ng-click="logOut()">Log Out</a>
          </li>
          <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
          <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>

        </ul>
      </nav>
    </div>
    
    <!-- place to load our templates-->
    <div class="row col s12 m4 l4">
        <ui-view></ui-view>
    </div>
    
      <!--  Cards -->
      <script type="text/ng-template" id="/home.html">
        <div class="item"ng-show="isLoggedIn()" ng-repeat="post in posts | orderBy: '-upvotes' " >
          <!-- Vanaf hier de cards opvullen-->
          <div class="col s12 m4 l4">
            <div class="card green lighten-2 waves-effect waves-block waves-light hoverable">
              <div class="card-content white-text">
                <span class="card-title "><i class="material-icons">receipt</i>
                {{post.title}}</span>
                <p><i class="material-icons">backup</i>
                  <a href="#/posts/{{post._id}}">comments({{post.comments.length}})</a>
                </p>
                <span ng-click="incrementUpvotes(post)" aria-hidden="true">
                <i class="small material-icons">thumb_up</i></span>
                {{post.upvotes}}
              </div>
            </div>
          </div>
        </div>
        <div  ng-show="isLoggedIn()" class=" center-align col s12 m12 l12" >
          <hr>
          <h4 class=" amber-text text-darken-2 center-align">Add a post with the following things: a name and a link
          </h4>
          <!-- Directive tonen bij opstarten pagina 10 sec tonen -->
          <notification  class="amber-text text-darken-2" message="{{message}}"></notification>

          <!-- Vanaf hier de cards aanmaken-->
          <div  ng-show="isLoggedIn()"class= "row">
            <form name="postForm" ng-submit="addPost()" ng-show="isLoggedIn()">
              <div class="row">
                <div class=" input-field amber-text text-darken-2 col s12 m4 push-m2 l2 push-l4">
                  <input active id="name" type="text"  ng-model="title" required>
                  <label class="amber-text text-darken-2"for="name">Name</label>
                </div>
                <div class=" input-field  amber-text text-darken-2 col s12 m4 push-m2 l2 push-l4">
                  <input id="link" type="text"  ng-model="link">
                  <label class="amber-text text-darken-2" for="link">Link</label>
                </div>
              </div>
              <button ng-disabled="postForm.$invalid" class="center-align btn-large waves-effect waves-light teal lighten-1  green lighten-2 "type="submit">Make post</button>
            </form>
          </div>
        </div>
        <div class="center-align" ng-hide="isLoggedIn()">
        <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
        </div>
      </script>

      <!--  images -->
      <script type="text/ng-template" id="/images.html">
        <div  ng-controller="sliderCtrl">
          <h4 class="amber-text text-darken-2 center-align">Welcome below a slider using a directive</h4>
          <slider images="images"/>
        </div>
      </script>
  
      <!-- posts and  comments -->
      <script type="text/ng-template" id="/posts.html">
        <div class="page-header">
          <div ng-show="isLoggedIn()">
            <h3 class="center-align">
              <a  class="amber-text text-darken-2" ng-show="post.link" href="{{post.link}}">
                {{post.title}}
              </a>
              <span ng-hide="post.link">
                {{post.title}}
              </span>
            </h3>
          </div>
          <div  ng-show="isLoggedIn()" ng-repeat="comment in post.comments | orderBy: '-upvotes'">
            <div class="col s12 m4 l4">
              <div class="card green lighten-2 card-content white-text">
                <span class="card-title">Creator {{comment.author}}</span>
                <p class="center-align" >
                  comment: {{comment.body}} <br>
                  <i  ng-click="incrementUpvotes(comment)" class="small material-icons">thumb_up</i>
                  {{comment.upvotes}}
                </p>
              </div>
            </div>
          </div>
          <div  ng-show="isLoggedIn()" class=" center-align col s12 m12 l12" >
            <hr>
            <h4 class="amber-text text-darken-2 center-align">Add a new comment</h4>
            <hr>
            <form name="commentForm" ng-submit="addComment()" ng-show="isLoggedIn()" style="margin-top:30px">
              <div class="row">
                <div class=" input-field amber-text text-darken-2 col s12 m4 push-m4 l2 push-l5 ">
                  <input id="body" type="text"  ng-model="body" required>
                  <label  class="amber-text text-darken-2" for="body">Comment</label>
                </div>
              </div>
              <button ng-disabled="commentForm.$invalid" type="submit" class=" green lighten-2  btn btn-primary">Post</button>
            </form>
          </div>
        </div>
        <div ng-hide="isLoggedIn()">
          <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
        </div>
      </script>

      <script type="text/ng-template" id="/register.html">
        <div class="center-align">
          <h1>Flapper News</h1>
        </div>
        <form name="registerForm" class="center-align" ng-submit="register()" style="margin-top:30px;">
          <h3>Register</h3>
          <div class="center-align red-text"ng-show="error" class="alert alert-danger row">
            <span>{{ error.message }}</span>
          </div>
          <div class="row ">
            <div class=" input-field col s12 m4 push-m2 l2 push-l4">
              <input id="username" type="text" ng-model="user.username" required>
              <label class="amber-text text-darken-2" for="username">Username</label>
            </div>
            <div class=" input-field col s12 m4 push-m2 l2 push-l4">
              <input id="password" type="password" ng-model="user.password" required>
              <label class="amber-text text-darken-2" for="password">Password</label>
            </div>
          </div>
          <button ng-disabled="registerForm.$invalid" type="submit" class="green lighten-2  btn btn-primary">Register</button>
        </form>
      </script>

      <script type="text/ng-template" id="/login.html">
        <div class="center-align">
          <h1>Flapper News</h1>
        </div>
        <form  name="loginForm" class="center-align" ng-submit="logIn()"style="margin-top:30px;">
          <h3>Log In</h3>
          <div class="center-align red-text"ng-show="error" class="alert alert-danger row">
            <span>{{ error.message }}</span>
          </div>
          <div class="row ">
            <div class=" input-field col s12 m4 push-m2 l2 push-l4">
              <input id="username" type="text"  ng-model="user.username" required>
              <label class="amber-text text-darken-2" for="username">Username</label>
            </div>
            <div class=" input-field col s12 m4 push-m2 l2 push-l4">
              <input id="password" type="password" ng-model="user.password" required>
              <label class="amber-text text-darken-2" for="password">Password</label>
            </div>
          </div>
          <button ng-disabled="loginForm.$invalid" type="submit" class="green lighten-2  btn btn-primary">Log In</button>
        </form>
        <p class="center-align" >an existing username is tomas password tomas</p>
      </script>
    </html>